// .react_select_container
//     width: 100%
//     .react_select__menu
//         width: 700px

.generation_card
    position: relative
    box-sizing: border-box
    cursor: pointer
    width: 200px
    height: 180px
    margin: 0px auto
    border-radius: 6px
    user-select: none
    .wrapp_images
        border-radius: 6px
        overflow: hidden
    .wrapp_info
        position: absolute
        display: flex
        flex-direction: column
        align-items: flex-start
        left: 20%
        top: 20%
        transform: translate(-20%,-20%)
        // flex: 0 0 calc(100% - 30px)
        .title
            color: rgb(255, 255, 255)
            font-weight: bold
            font-size: 1.2rem
        .generation
            color: rgb(255, 255, 255)
            font-size: 1rem
        