.ReviewBrandWrap{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 80%;
    margin: 0 10%;
    text-align: left;
}
.ReviewBrandWrap h2{
    font-size: 36px;
    color: #000;
    font-weight: 700;
}
.ReviewFilterBrand{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bdc2c7;
    width: 100%;
}
.BrandLink{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}
.BrandLink:hover{
    color: rgb(219, 0, 26);
}
.BrandExpand{
    color: rgb(219, 0, 26);
    text-decoration: none;
    margin: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-bottom: 1px dashed rgb(219, 0, 26);
}
.BrandExpand:hover{
    color: rgb(219, 0, 26);
    cursor: pointer;
    border: none;
}
.Chevron{
    height: 2px;
}
.svg-inline--fa {
    height: 0.5em;
    margin-bottom: 3px;
    margin-left: 5px;
}