.header-wrapp
    .main-menu__item
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center

.header-wrapp
    .main-menu__link
        color: #d3d3d3
        max-height: inherit 
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        position: relative
        overflow: hidden
        font-size: 0.9rem   
        opacity: 0.8

        &::after
            content: "" 
            position: absolute
            border-radius: 6px
            top: 50%
            left: 50%
            padding: 5px 5px
            padding: 20px 60px
            opacity: 0.3
            transform: translate(-50%, -50%)
            background: #808080
            display: none

        &:hover
            opacity: 1
            color: #FFFFFF
            font-weight: 500
            &::after
                display: block

.header-wrapp
    .main-sub-menu__ul
        display: none

        .main-sub-menu__item
            height: 100%
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

            .main-sub-menu__link
                color: #d3d3d3
                max-height: inherit 
                width: 100%
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                position: relative
                overflow: hidden
                font-size: 0.9rem   
                opacity: 0.8

                &::after
                    content: "" 
                    position: absolute
                    border-radius: 6px
                    top: 50%
                    left: 50%
                    padding: 5px 5px
                    padding: 20px 60px
                    opacity: 0.3
                    transform: translate(-50%, -50%)
                    background: #808080
                    display: none

                &:hover
                    opacity: 1
                    color: #FFFFFF
                    font-weight: 500
                    &::after
                        display: block





       


