.header-wrapp
    .main-menu__item
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        position: relative
        .main-menu__span
            cursor: pointer
            color: #d3d3d3
            max-height: inherit 
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            position: relative
            overflow: hidden
            font-size: 1.5rem   
            opacity: 0.8
            transition: 0.2s ease
            & svg
                opacity: 0.8
                fill: #fff
                margin-left: 5px
                transition: 0.2s ease 
                transform: rotate(180deg)
            &:hover 
                opacity: 1
                color: #FFFFFF
                font-weight: 500
                transition: 0.2s ease 
        & ul
            transform-origin: 0 0
            transform: scaleY(0)
            opacity: 0.1
            transition: 0.2s ease
        &:hover
            & svg
                transition: 0.2s ease 
                transform: rotate(0deg)
            & ul
                z-index: 0
                transform: scaleY(1)
                opacity: 1 
                transition: 0.2s ease
    .main-menu__link
        color: #d3d3d3
        max-height: inherit 
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        position: relative
        overflow: hidden
        font-size: 1.5rem   
        opacity: 0.8
        transition: 0.2s ease

        &::after
            content: "" 
            position: absolute
            border-radius: 6px
            top: 5px
            left: 5px
            bottom: 5px
            right: 5px
            opacity: 0.3
            background: #808080
            display: none

        &:hover
            transition: 0.2s ease
            opacity: 1
            color: #FFFFFF
            font-weight: 500
            &::after
                display: block