.wrappMessage
    display: flex
    flex-direction: column
    align-items: flex-start
    
    .wrappMessage_InfoAndTime
        display: flex
        align-items: center
        width: 100%
        justify-content: space-between
        .InfoAndTime__wrappTime
            display: flex
            flex-direction: column
            font-weight: bold
        .authorName
            margin-left: 8px

        .wrappMessage_InfoAndTime__spanTime
            displa: block


    .messageText
        background-color: blue
        padding: 10px
        margin: 5px 5px
        border-radius: 12px
        color: white
        text-align: left
        max-width: 100%
        word-wrap: break-word

    .lineSeparator
        width: 100%
        height: 1px
        // background-color: gray
        background-color: #2B8BE5
        margin: 8px 0
    

.wrappMessageMyProfile
    display: flex
    flex-direction: column
    align-items: flex-start
    
    .wrappMessage_InfoAndTimeMyProfile
        display: flex
        align-items: center
        width: 100%
        justify-content: space-between
        margin-top: 14px
        .blockwrappAvatar
            margin-left: 12px
        .InfoAndTime__wrappTimeMyProfile
            display: flex
            flex-direction: column
            font-weight: bold
        .authorNameMyProfile
            margin-left: 8px

        .wrappMessage_InfoAndTime__spanTimeMyProfile
            displa: block
            margin-right: 8px

    .messageTextMyProfile
        background-color: blue
        padding: 10px
        margin: 5px 5px
        border-radius: 12px
        color: white
        text-align: left
        max-width: 98%
        word-wrap: break-word

    .lineSeparatorMyProfile
        width: 100%
        height: 1px
        // background-color: gray
        background-color: #2B8BE5
        margin: 8px 0
    