.wrappMessage
    display: flex
    flex-direction: column
    align-items: flex-start
    
    .wrappMessage_InfoAndTime
        display: flex
        align-items: center
        width: 100%
        justify-content: space-between
        .InfoAndTime__wrappTime
            display: flex
            flex-direction: column
            font-weight: bold
        .authorName
            margin-left: 8px

        .wrappMessage_InfoAndTime__spanTime
            displa: block


    .messageText
        background-color: blue
        padding: 10px
        margin: 5px 5px
        border-radius: 12px
        color: white

    .lineSeparator
        width: 100%
        height: 1px
        background-color: gray
        margin: 8px 0
    
    