@mixin nameGrayTitle
    color: rgba(0,0,0,0.4)
    font-size: 1.35rem
    margin-bottom: 6px



.width48
    width: 48.75%
    .documentLabel
        @include nameGrayTitle
.wrappFloatBottom
    display: flex
    width: 66.25%
    justify-content: space-between
    flex-wrap: wrap
    align-items: stretch
.margin_top_10px
    margin-top: 10px
.wrappFilterProcent
    width: 100%

    .wrappFilterPx
        width: 1440px
        margin: 0 auto
        .wrapp_fourCheckBox 
            display: flex
            flex-direction: column
            align-content: flex-start
            align-items: flex-start
            .arrButtonCheckFourLabel
                @include nameGrayTitle

        .wrappFilter__filterForm
            border-radius: 16px
            width: 1024px
            height: 600px
            background-color: #F5F5F5
            padding: 20px
            margin: 0 auto
            margin-bottom: 20px
        .block_info_wrapp
            width: 100%
            display: flex
            justify-content: space-between
        
            .block_info
                display: flex
                justify-content: space-between
                width: 32.5%
                margin-bottom: 10px
                box-sizing: border-box
                .wrapp_labelInput
                    display: flex
                    flex-direction: column
                    width: 100%
                    .documentLabel
                        @include nameGrayTitle
                    
            .block_info_check_box
                display: flex   
                flex-direction: row
                align-items: center
                justify-content: flex-start

                .selectBootstrap
                    font-size: 1.35rem
                    border-radius: 6px
                    border: none
                    height: 40px
                    max-width: 302px
                    &:focus
                        outline: none
                        // border-color: #fff
                        box-shadow: none
                    &:hover
                        outline: 1px solid #D6D9DC

        .block_info_double_middle
            width: 100% !important

        .block_info_double
            width: 33%
            display: flex
            justify-content: space-around
            position: relative
            &::after
                content: ""
                background-color: rgba(	26, 26, 26, 0.1 )
                width: 1px
                height: 20px
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                position: absolute

            .selectBootstrap
                font-size: 1.35rem
                border-top-right-radius: 0px
                border-bottom-right-radius: 0px
                border: none
                height: 40px
                max-width: 302px
                &:focus
                    outline: none
                    box-shadow: none
                &:hover
                    outline: 1px solid #D6D9DC

        .block_info_one
            width: 32.5%
            display: flex
            justify-content: space-between

            .selectBootstrap
                font-size: 1.35rem
                border-top-right-radius: 0px
                border-bottom-right-radius: 0px
                border: none
                height: 40px
                max-width: 302px
                &:focus
                    outline: none
                    // border-color: #fff
                    box-shadow: none
                &:hover
                    outline: 1px solid #D6D9DC
                        
        .block_info_icon
            display: flex
            flex-direction: row
            align-items: center

        


            



