.wrappFilterProcent
    width: 100%

    .wrappFilterPx
        width: 1440px
        margin: 0 auto

        .wrappFilter__filterForm
            border-radius: 16px
            width: 1024px
            height: 600px
            // background: #1e2021
            background-color: #F5F5F5
            padding: 20px
            margin: 0 auto
            margin-bottom: 20px
        .block_info_wrapp
            width: 100%
            display: flex
            justify-content: space-between
        
            .block_info
                display: flex
                justify-content: space-between
                width: 32.5%
                margin-bottom: 10px
                box-sizing: border-box
                .wrapp_labelInput
                    display: flex
                    flex-direction: column
                    .documentLabel
                        color: rgba(0,0,0,0.4)
                        font-size: 1.35rem
                        margin-bottom: 6px
                    
            .block_info_check_box
                display: flex   
                flex-direction: row
                align-items: center
                justify-content: flex-start
                .check_box  
                    display: flex   
                    flex-direction: row
                    align-items: center
                    
                .check_box_input
                    width: 30px
                    height: 30px
                    border-radius: 6px
                    cursor: pointer
                    &:focus
                        box-shadow: none
                    &:active
                        background: rgb(233,236,239 )

                .check_box_label
                    font-size: 1.5rem
                    margin: 0 14px 0 12px
                
                .selectBootstrap
                    font-size: 1.35rem
                    border-radius: 6px
                    border: none
                    height: 40px
                    max-width: 302px
                    &:focus
                        outline: none
                        // border-color: #fff
                        box-shadow: none
                    &:hover
                        outline: 1px solid #D6D9DC

        .block_info_double
            width: 33%
            display: flex
            justify-content: space-around
            position: relative
            &::after
                content: ""
                background-color: rgba(	26, 26, 26, 0.5 )
                width: 1px
                height: 20px
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                position: absolute

            .selectBootstrap
                font-size: 1.35rem
                border-top-right-radius: 0px
                border-bottom-right-radius: 0px
                border: none
                height: 40px
                max-width: 302px
                &:focus
                    outline: none
                    box-shadow: none
                &:hover
                    outline: 1px solid #D6D9DC

        .block_info_one
            width: 32.5%
            display: flex
            justify-content: space-between

            .selectBootstrap
                font-size: 1.35rem
                border-top-right-radius: 0px
                border-bottom-right-radius: 0px
                border: none
                height: 40px
                max-width: 302px
                &:focus
                    outline: none
                    // border-color: #fff
                    box-shadow: none
                &:hover
                    outline: 1px solid #D6D9DC
                        
        .block_info_icon
            display: flex
            flex-direction: row
            align-items: center
            


                



