.wrapp_dataList
    width: 100%
    flex: 1 0 0px
    .inputDataListOneLeft
        width: 95.5% !important

    .inputDataListOneRight
        width: 95.5% !important
    
    
.inputDataList
    font-size: 1.35rem !important
    border-radius: 6px !important
    border: none !important
    height: 40px !important
    &:focus
        outline: none !important
        box-shadow: none !important
    &:hover
        outline: 1px solid #D6D9DC !important

.inputDataListDoubleLeft
    border-top-right-radius: 0px !important
    border-bottom-right-radius: 0px !important
    position: relative
    z-index: 0
    &:hover
        z-index: 1
        
        
.inputDataListDoubleRight
    border-top-left-radius: 0px !important
    border-bottom-left-radius: 0px !important
    position: relative
    z-index: 0
    &:hover
        z-index: 1
  
    



.wrapp_dataList_one_right
    width: 100%
    display: flex
    justify-content: flex-end

   








        


 
