.wrappBlock
    max-width: 1920px    
    min-width: 1020px
    .wrappBlockInner
        width: 95%
        min-height: 450px
        border: 1px solid black
        margin: 40px auto
        display: flex
        .leftBlock_messages
            width: 35%
            background: black
            border: 1px solid blue
        .RightBlock_chat    
            width: 65%
            background: black
            border: 1px solid red