.Slider
    & .BtnShowPreviewImg
        font-size: 16px
        border: none
        background: none

        display: flex
        justify-content: flex-start
        align-items: center

        svg
            position: relative
            z-index: 1
            margin-left: -15px
