
.mainMenu_menu_item
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin: 0 10px

    .menu_link
        color: #fff
        max-height: inherit 
        text-decoration: none
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        position: relative
        font-size: 1.5rem 
        opacity: 0.7
        margin: 0 10px

        &::after
            content: "" 
            position: absolute
            border-radius: 6px
            inset: 5px -5px 
            opacity: 0
            transition: 0.1s ease
            background: #808080

        &:hover
            opacity: 1
            color: #FFFFFF
            transition: 0.1s ease
            &::after
                opacity: 0.3
                transition: 0.1s ease



       


